$link-color: blue;
$link-color: red;
$width:200px;
a {
  color: $link-color;
}
.blue-theme {@import "blue-theme";}


$highlight-color: #F90;
$highlight-color: #F80 !default;
.selected {
  border: $highlight-color;
}